@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.header_design {
    font-family: "DM Sans", sans-serif;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-items: center;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    display: flex;
    position: fixed;
}

.logo_layout {
    padding: 0px 108px 0px 5px;
}

.logo_size {
    height: 8vh;
    padding: 5px 0px 0px 0px;
}

.navigation {
    display: flex;
    gap: 170px;
    padding: 0px 135px 0px 0px;
}

.navigation a {
    color: rgb(200, 147, 15);
    font-size: 20px;
    text-decoration: none;
}

.login_button {
    border-radius: 20px;
    text-align: center;
    width: 10vh;
    border: 2px solid #1A1A1A;
    color: #1A1A1A;
}

.signup_button {
    border-radius: 20px;
    text-align: center;
    width: 10vh;
    border: 2px solid #1A1A1A;
    color: #1A1A1A;
}

.main_body {
    margin: 0px;
    font-family: "DM Sans", sans-serif;
}

.background_1 {
    background: url("/Users/kalepatestlaptop/my_h_tools/Projects/backend/vestige_gallery/html_pages/pictures/black_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #f8f8f8;
    background-position: center;
    text-align: center;
    justify-content: center;
    background-color: #1A1A1A;
    margin: 0px;
    background-attachment: scroll;
}

.background_setting_1 {
    margin: 0px 80px 0px 80px;
    padding: 120px 0px 82px 0px;
}

.border_1 {
    border-radius: 50px;
    height: 80vh;
    border: 2px solid #f8f8f8;
}

.h_size_adjust {
    font-size: 80px;
}

.size_adjust_2 {
    font-size: 60px;
}

.message_1 {
    color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("/Users/kalepatestlaptop/my_h_tools/Projects/backend/vestige_gallery/html_pages/pictures/gold_background.png");
    background-size: cover;
    background-attachment: scroll;
}

.sub_message_2 {
    font-size: 40px;
}

.sub_message_3 {
    font-size: 40px;
}

.sub_message_4 {
    font-size: 82px;
    text-decoration: underline;
}

.sub_message_5 {
    font-size: 13px;
}

.adjust_body {
    padding: 50px;
}

.break_line {
    max-width: 700px;
}

.picture_1 {
    width: 500px;
    height: 500px;
}

.message_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1A1A1A;
}

.picture_2 {
    width: 500px;
    height: 500px;
}

.break_line_2 {
    max-width: 700px;
}

.features_text_design h3 {
    font-size: 70px;
}

.features_text_design ul li {
    font-size: 35px;
}

.achievements_text {
    font-size: 70px;
}

.achievements_layout {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 60px;
}

.achievement_border_1 {
    border: 3px solid #0941e8;
    width: 259px;
    height: 216px;
    border-radius: 20px;
    padding: 12px 12px 12px 12px;
}

.achievement_border_2 {
    border: 3px solid #efa608;
    width: 259px;
    height: 216px;
    border-radius: 20px;
    padding: 12px 12px 12px 12px;
}

.achievement_border_3 {
    border: 3px solid #2bef08;
    width: 259px;
    height: 216px;
    border-radius: 20px;
    padding: 12px 12px 12px 12px;
}

.footer_layout {
    display: flex;
    color: #f8f8f8;
    background-color: #1A1A1A;
    background-size: cover;
    background-attachment: scroll;
    padding: 0vh 20vh 0vh 20vh;
    align-items: center;
    justify-content: space-between;
}

.logo_in_footer {
    height: 8vh;
    padding: 8px 0px 0px 0px;
}

.footer_sub_message {
    font-size: 16px;
}

.fb_logo_adjust {
    height: 40px;
    width: 43px;
}

.x_logo_adjust {
    height: 40px;
    width: 43px;
}

.logos_separate {
    gap: 10px;
}

