@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.header_design {
    font-family: "DM Sans", sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo_layout {
    padding: 0px 108px 0px 5px;
}

.logo_size {
    height: 8vh;
}

.navigation {
    display: flex;
    gap: 160px;
    padding: 0px 25px 0px 0px;
}

.navigation a {
    color: rgb(200, 147, 15);
    font-size: 20px;
}

.navigation p {
    text-decoration: none;
}

.main_body {
    font-family: "DM Sans", sans-serif;
}

.background_1 {
    background: url("/Users/kalepatestlaptop/my_h_tools/Projects/backend/vestige_gallery/html_pages/pictures/black_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #f8f8f8;
    background-position: center;
    text-align: center;
    justify-content: center;
    background-color: #1A1A1A;
    background-attachment: scroll;
}

.background_setting_1 {
    margin: 0px 80px 0px 80px;
    padding: 120px 0px 100px 0px;
}

.border_1 {
    border-radius: 50px;
    height: 68vh;
    border: 2px solid #f8f8f8;
}


.h_size_adjust {
    font-size: 80px;
}

.size_adjust_2 {
    font-size: 60px;
}

.message_1 {
    color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub_message_2 {
    font-size: 40px;
}

.break_line {
    max-width: 700px;
}

.picture_1 {
    width: 500px;
    height: 500px;
}

.message_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1A1A1A;
}

.picture_2 {
    width: 500px;
    height: 500px;
}

.break_line_2 {
    max-width: 700px;
}

.sub_message_3 {
    font-size: 40px;
}

.sub_message_4 {
    font-size: 82px;
    text-decoration: underline;
}

.features_text_design h3 {
    font-size: 70px;
}

.features_text_design ul li {
    font-size: 35px;
}

.footer_layout {
    display: flex;
    color: #f8f8f8;
    background-color: #1A1A1A;
    background-size: cover;
    background-attachment: scroll;
    align-items: center;
    justify-content: space-between;
}

.logo_in_footer {
    width: 20px;
    height: 20px;
}